{% extends 'site_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block body_class %}home{% endblock %}

{% block middle %}
<div class="jumbotron njcoast-image slimmer"></div>

<div class="gray-zone">
    <div class="container-fluid">
        <div class="page-header">
            <!--<div class="dropdown show">
                <a class="dropdown-toggle" id="muniRoleToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            keansburg <span>|</span> planning<i class="fa fa-caret-down" style="margin-left: 10px" aria-hidden="true"></i>
          </a>
                <div class="dropdown-menu muniRole" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Berkeley</a>
                    <a class="dropdown-item" href="#">Keansburg</a>
                </div>
            </div>-->
            <h3>Planning & Service Delivery Dashboard</h3>
        </div>
        <div class="row">


            <div class="col-sm-6 col-md-4">
                <!--<div class="overlay-div">-->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-user" aria-hidden="true"></i>Profile</h4>
                            <table class="table" style="margin-top: 10px">
                                <tbody>
                                    <tr>
                                        <th style="border-top: 0">Name</th>
                                        <td style="border-top: 0">{{ user.first_name }} {{ user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Title</th>
                                        <td>{{ user.njcusermeta.position }}</td>
                                    </tr>
                                    <tr>
                                        <th>Municipality</th>
                                        <td>{{ user.njcusermeta.municipality }}</td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td>{{ user.njcusermeta.role }}</td>
                                    </tr>
                                    <tr>
                                        <th>Username</th>
                                        <td>{{ user.username }}</td>
                                    </tr>
                                    <tr>
                                        <th>Password</th>
                                        <td>•••••••</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-secondary btn-md btn-block" data-toggle="modal" data-target="">Edit Password</button>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-users" aria-hidden="true"></i>Groups</h4>
                            <p>Create or join new user groups in addition to automatic membership in full municipality group for your role.</p>
                            <ul class="dashboard-list">
                                <li>
                                    <a href=""><span class="status">28 mem</span>Keansburg Planners</a>
                                    <p>All Keansburg users with planning and service delivery role</p>
                                </li>
                                <li>
                                    <a href=""><span class="status">6 mem</span>Marquette's Planning Circle</a>
                                    <p>Municipal planning advisory team</p>
                                </li>
                            </ul>
                            <button class="btn btn-secondary btn-md btn-block" data-toggle="modal" data-target="">Explore Groups</button>
                            <button class="btn btn-secondary btn-md btn-block" data-toggle="modal" data-target="">Create New Group</button>
                        </li>
                    </ul>
                <!--</div>-->
            </div>

            <div class="col-sm-6 col-md-4">
                <ul class="list-group">
                    <li class="list-group-item" id="map-item">
                        <a href="{% url 'new_njc_map' %}" class="btn btn-primary btn-lg btn-block">Create New Map</a>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading"><i class="fa fa-map-o" aria-hidden="true"></i>Maps</h4>
                        <p>Explore all available GIS layers on the standard planning map, or interact with a custom saved version or maps shared by other users.</p>
                        <ul class="dashboard-list">
                            {% for map in maps_for_user %}
                            <li>
                                <a href="{% url 'map_annotate' map.id %}"><span class="status">private</span>{{ map.name }}</a>
                            </li>
                            {% endfor %} {% for map in shared_maps_for_user %}
                            <li>
                                <a href="{% url 'map_annotate' map.id %}"><span class="status">shared</span>{{ map.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <ul class="list-group">
                    <div class="overlay-div">
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-database" aria-hidden="true"></i>Layers</h4>
                            <p>Browse descriptions of the GIS layers available on the Standard Planning Map, as well as layers shared by other users.</p>
                            <a href="#" class="btn btn-secondary btn-md btn-block">Explore Layers</a>
                        </li>
                        <div class="overlay-div">
                </ul>
                </div>

                <div class="col-sm-6 col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading"><i class="fa fa-cogs" aria-hidden="true"></i>Tools</h4>
                                <p>Generate additional GIS data to view on the map alongside existing layers.</p>
                                <!--<div class="overlay-div">
                                <button class="btn btn-secondary btn-md btn-block" data-toggle="modal" data-target="">Browse Available Tools</button>
                            </div>-->
                            </li>
                            <li class="list-group-item">
                                <!--<i class="fa fa-times pull-right" aria-hidden="true"></i>-->
                                <h5 class="list-group-item-heading">Storm Hazard Projection (SHP) Tool </h5>
                                <p>Evaluate exposure to natural hazards like strong winds, waves and surge for user-defined scenarios. <!--<a href="">Learn more</a>--></p>
                                <div class="well rss-auto">
                                    <div class="overlay-div">
                                    <div class="shp-cat-title auto">Active Storms
                                        <div class="shp-cat" title="Based on latest track from NHC/NWS">active</div>
                                    </div>
                                    <div class="map-layer-group-heading auto">
                                        <a href="">
                                            <div class="h-badge">H</div>Hurricane Jose</a><span title="Unfollow"><a href=""><i class="fa fa-minus-circle" aria-hidden="true"></i></a></span>
                                    </div>
                                    <p class="follow-unfollow">following</p>
                                    <div class="map-layer-group-heading auto">
                                        <a href="">
                                            <div class="h-badge">H</div>Hurricane Kaitlin</a><span title="Unfollow"><a href=""><i class="fa fa-minus-circle" aria-hidden="true"></i></a></span>
                                    </div>
                                    <p class="follow-unfollow">following</p>
                                    <div class="map-layer-group-heading auto not-following">
                                        <div class="h-badge">H</div>Hurricane Liam <span title="Follow"><a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a></span>
                                    </div>
                                    <p class="follow-unfollow">not following</p>
                                    </div>
                                </div>
                                <a href="/expert" class="btn btn-primary btn-md btn-block" role="button">Run New Simulation</a>
                                <a href="#" class="btn btn-secondary btn-md btn-block disabled" role="button">Explore Simulations</a>
                            </li>
                            <!--<li class="list-group-item">
                                <div class="overlay-div">
                                <i class="fa fa-times pull-right" aria-hidden="true"></i>
                                <h5 class="list-group-item-heading">Another New Tool</h5>
                                <p>Tool that runs some other kind of simulation to generate new GIS layers. <a href="">Learn more</a></p>
                                <button class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="">Use This Tool</button>
                                </div>
                            </li>-->
                        </ul>
                </div>

                </div>
                <!-- close row -->
            </div>
        </div>
    </div>
</div>
{% endblock middle %}
