{% extends 'site_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/fontawesome-all.min.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/njcoast-admin-style.css" %}" media="screen" />
{% endblock extra_head %}

{% block middle %}
<div class="jumbotron njcoast-image slimmer"></div>

<div class="gray-zone">
    <div class="container-fluid">
        <div class="page-header" style="border: none">
            <!--<a href="admin-dca-change.html" class="btn btn-primary btn-md pull-right">Edit DCA Approvers</a>-->
            <h3>DCA Administrator Controls</h3>
        </div>

        <ul class="nav nav-tabs nav-justified admin-tabs">
            <li id="tab_1" onclick="flip_tabs(this);" class="active"><a href="#"><span class="fa fa-user-circle"></span> Municipal Approvers</a></li>
            <li id="tab_2" onclick="flip_tabs(this);"><a href="#"><span class="fa fa-users"></span> All NJcoast Users</a></li>
            <li id="tab_3" onclick="flip_tabs(this);"><a href="#"><span class="fa fa-exclamation-circle"></span> Account Requests</a></li>
        </ul>

        <!-- municipalities code ---------------------------------------------->
        <div id="data_1">
            <div class="filter-bkgrnd">

                <div class="row">
                    <div class="col-sm-4">

                        <span class="f-label">Filters:</span>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    County <span class="caret"></span>
                                        </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Atlantic</a></li>
                                <li><a href="#">Bergen</a></li>
                                <li><a href="#">Burlington</a></li>
                                <li><a href="#">Camden</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-sm-8">

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search table for...">
                            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                            </span>
                        </div>
                        <!-- /input-group -->

                    </div>
                </div>

            </div>

            <div class="table-bkgrnd">

                <table class="table table-hover admin">
                    <tbody>
                        <tr>
                            <th>Code <span class="fa fa-sort"></span></th>
                            <th>Municipality <span class="fa fa-sort"></span></th>
                            <th>Name <span class="fa fa-sort"></span></th>
                            <th>Position <span class="fa fa-sort"></span></th>
                            <th>Email</th>
                            <th>Notes</th>
                            <th</th>
                        </tr>
                        {% for user in users %}
                        {% ifequal  user.njcusermeta.role|stringformat:"s" "Municipal Approvers" %}
                        <tr>
                            {% for municipality in municipalities %}
                                {% ifequal municipality.name|stringformat:"s" user.njcusermeta.municipality|stringformat:"s" %}
                            <td>{{ municipality.code }}</td>
                                {% endifequal %}
                            {% endfor %}
                            <td>{{ user.njcusermeta.municipality }}</td>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td class="position">{{ user.njcusermeta.position }}</td>
                            <td><a>{{ user.email }}</a></td>
                            <td class="notes">{{ user.njcusermeta.notes }}</td>
                            <td><a href="admin-ma-profile.html"><span class="fa fa-info-circle"></span></a></td>
                        </tr>
                        {% endifequal %}
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <!-- END munivcipalities code ----------------------------------------->

        <!-- njcoast users ---------------------------------------------------->
        <div id="data_2" class="hidden">
            <div class="filter-bkgrnd">
                <div class="row">
                    <div class="col-sm-8">

                        <ul class="selected">
                            <li>Your selection:</li>
                            <li>Berkeley Twp <span class="fa fa-times"></span></li>
                        </ul>

                    </div>
                    <div class="col-sm-4">

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search table for...">
                            <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                            </span>
                        </div>
                        <!-- /input-group -->

                    </div>
                </div>

            </div>

            <div class="table-bkgrnd">

                <div class="row">
                    <div class="col-sm-2">

                        <ul class="user-filters">
                            <li>Status <span class="fa fa-chevron-down pull-right"></span></li>
                            <ul>
                                <li><input type="checkbox"> Pending</li>
                                <li><input type="checkbox"> Active</li>
                                <li><input type="checkbox"> Inactive</li>
                            </ul>
                            <li>County <span class="fa fa-chevron-right pull-right"></span></li>
                            <li>Municipality <span class="fa fa-chevron-right pull-right"></span></li>
                            <li>Role <span class="fa fa-chevron-right pull-right"></span></li>
                        </ul>

                    </div>

                    <div class="col-sm-10">
                        <table class="table table-hover admin-user">
                            <tbody>
                                <tr>
                                    <th>Name <span class="fa fa-sort"></span></th>
                                    <th>Email</th>
                                    <th>Role <span class="fa fa-sort"></span></th>
                                    <th>Municipality <span class="fa fa-sort"></span></th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th></th>
                                </tr>
                                {% for user in users %}
                                <tr>
                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                    <td><a>{{ user.email }}</a></td>
                                    <td>{{ user.njcusermeta.role }}</td>
                                    <td><a href="admin-ma-profile.html">{{ user.njcusermeta.municipality }}</a></td>
                                    {% if user.is_active %}
                                    <td class="status act">active</td>
                                    <td class="notes">{{ user.njcusermeta.notes }}</td>
                                    <td><a href="admin-user-profile.html"><span class="fa fa-info-circle"></span></a></td>
                                    {% else %}
                                    {% if user.njcusermeta.is_dca_approved %}
                                    <td class="status inact">inactive</td>
                                    <td class="notes">{{ user.njcusermeta.notes }}</td>
                                    <td><a href="admin-user-profile.html"><span class="fa fa-info-circle"></span></a></td>
                                    {% else %}
                                    <td class="status pnd">pending</td>
                                    <td><a href="admin-dca-acct-req.html" class="btn btn-warning btn-sm btn-block">View Request</a></td>
                                    {% endif %}
                                    {% endif %}
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <!-- END njcoast users ------------------------------------------------>

        <!-- account requests ------------------------------------------------->
        <div id="data_3" class="hidden">
            <div class="filter-bkgrnd">
                <i><span class="fa fa-exclamation-circle"></span> {{ number_to_be_approved }} pending requests</i>
            </div>

            <div class="table-bkgrnd">
                {% for user in users %}
                    {% if user.is_active %}
                    {% else %}
                        {% if user.njcusermeta.is_dca_approved %}
                        {% else %}
                <div class="row review-request">
                    <div class="col-md-5 col-lg-4">
                        <div class="well">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="border-top: 0">Name</th>
                                        <td style="border-top: 0">{{ user.first_name }} {{ user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Title</th>
                                        <td>{{ user.njcusermeta.position }}</td>
                                    </tr>
                                    <tr>
                                        <th>Municipality</th>
                                        <td><a href="admin-ma-profile.html">{{ user.njcusermeta.municipality }}</a></td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td>{{ user.njcusermeta.role }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><b>Justification:</b>{{ user.njcusermeta.justification }}</p>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <p class="qualifier" style="margin-top: 10px;">Received: {{ user.date_joined }}; Muni Approval: {{ user.muni_approval_date }}</p>
                        <textarea class="form-control" placeholder="{{ user.njcusermeta.notes }}" rows="7"></textarea>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Change Role <span class="caret"></span>
                                        </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Planner</a></li>
                                <li><a href="#">Emergency Manager</a></li>
                                <li><a href="#">First Responder</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-primary" data-toggle="modal" data-target="">Approve</button>
                        <button class="btn btn-default" data-toggle="modal" data-target="">Decline*</button>
                        <p class="qualifier" style="margin-top: 10px;">*Any notes entered for a Declined applicant will be shared with the applicant to justify the decision.</p>
                    </div>
                </div>
                <hr/>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <!-- END account requests -------------------------------------------->

    </div>
</div>
{% endblock %}

{% block extra_script %}
<script type=text/javascript>

//flip the tabs and their data
function flip_tabs(object){
    //clear Active
    for(i=1; i<=3; i++){
        //remove active
        if("tab_"+i != object.id){
            document.getElementById("tab_"+i).classList.remove("active");
            document.getElementById("data_"+i).classList.add("hidden");
        }else{ //add active
            object.classList.add("active");
            document.getElementById("data_"+i).classList.remove("hidden");
        }
    }

    //print
    console.log("Clicked "+object.id);
}

</script>
{% endblock extra_script %}
