{% extends 'site_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/fontawesome-all.min.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/njcoast-admin-style.css" %}" media="screen" />
{% endblock extra_head %}

{% block middle %}
<div class="jumbotron njcoast-image slimmer"></div>

<div class="gray-zone">
    <div class="container-fluid">
        <div class="page-header" style="border: none">
            <!--<a href="admin-dca-change.html" class="btn btn-primary btn-md pull-right">Edit DCA Approvers</a>-->
            <h3>DCA Administrator Controls</h3>
        </div>

        <ul class="nav nav-tabs nav-justified admin-tabs">
            <li id="tab_1" onclick="flip_tabs(this.id);" class="active"><a href="#"><span class="fa fa-user-circle"></span> Municipal Approvers</a></li>
            <li id="tab_2" onclick="flip_tabs(this.id);"><a href="#"><span class="fa fa-users"></span> All NJcoast Users</a></li>
            <li id="tab_3" onclick="flip_tabs(this.id);"><a href="#"><span class="fa fa-exclamation-circle"></span> Account Requests</a></li>
        </ul>

        <!-- municipalities code ---------------------------------------------->
        <div id="data_1">
            <div class="filter-bkgrnd">

                <div class="row">
                    <div class="col-sm-4">

                        <span class="f-label">Filters:</span>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    County <span class="caret"></span>
                                        </button>
                            <ul class="dropdown-menu">
                                {% for county in counties %}
                                <li><a href="#">{{ county.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                    <div class="col-sm-8">

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search table for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="fa fa-search"></span></button>
                            </span>
                        </div>
                        <!-- /input-group -->

                    </div>
                </div>

            </div>

            <div class="table-bkgrnd">

                <table class="table table-hover admin">
                    <tbody>
                        <tr>
                            <th>Code <span class="fa fa-sort"></span></th>
                            <th>Municipality <span class="fa fa-sort"></span></th>
                            <th>Name <span class="fa fa-sort"></span></th>
                            <th>Position <span class="fa fa-sort"></span></th>
                            <th>Email</th>
                            <th>Notes</th>
                            <th</th>
                        </tr>
                        {% for muni_admin in muni_admins %}
                        <tr>
                            <td>{{ muni_admin.njcusermeta.municipality.code }}</td>
                            <td>{{ muni_admin.njcusermeta.municipality }}</td>
                            <td>{{ muni_admin.first_name }} {{ muni_admin.last_name }}</td>
                            <td class="position">{{ muni_admin.njcusermeta.position }}</td>
                            <td><a>{{ muni_admin.email }}</a></td>
                            <td class="notes">{{ muni_admin.njcusermeta.notes }}</td>
                            <td><a onclick="view_user_info('{{ muni_admin.username  }}', 1, 'Return to Municipal Approvers list');" href="#"><span class="fa fa-info-circle"></span></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <!-- END munivcipalities code ----------------------------------------->

        <!-- njcoast users ---------------------------------------------------->
        <div id="data_2" class="hidden">
            <div class="filter-bkgrnd">
                <div class="row">
                    <div class="col-sm-8">

                        <ul class="selected">
                            <li>Your selection:</li>
                            <li>Berkeley Twp <span class="fa fa-times"></span></li>
                        </ul>

                    </div>
                    <div class="col-sm-4">

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search table for...">
                            <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                            </span>
                        </div>
                        <!-- /input-group -->

                    </div>
                </div>

            </div>

            <div class="table-bkgrnd">

                <div class="row">
                    <div class="col-sm-2">

                        <ul class="user-filters">
                            <li>Status <span class="fa fa-chevron-down pull-right"></span></li>
                            <ul>
                                <li><input type="checkbox"> Pending</li>
                                <li><input type="checkbox"> Active</li>
                                <li><input type="checkbox"> Inactive</li>
                            </ul>
                            <li>County <span class="fa fa-chevron-right pull-right"></span></li>
                            <li>Municipality <span class="fa fa-chevron-right pull-right"></span></li>
                            <li>Role <span class="fa fa-chevron-right pull-right"></span></li>
                        </ul>

                    </div>

                    <div class="col-sm-10">
                        <table class="table table-hover admin-user">
                            <tbody>
                                <tr>
                                    <th>Name <span class="fa fa-sort"></span></th>
                                    <th>Email</th>
                                    <th>Role <span class="fa fa-sort"></span></th>
                                    <th>Municipality <span class="fa fa-sort"></span></th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th></th>
                                </tr>
                                {% for user in users %}
                                <tr>
                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                    <td><a>{{ user.email }}</a></td>
                                    <td>{{ user.njcusermeta.role }}</td>
                                    <td>{{ user.njcusermeta.municipality }}</td>
                                    {% if user.is_active %}
                                    <td class="status act">active</td>
                                    <td class="notes">{{ user.njcusermeta.notes }}</td>
                                    <td><a onclick="view_user_info('{{ user.username }}', 2, 'Return to All NJcoast Users list');" href="#"><span class="fa fa-info-circle"></span></a></td>
                                    {% else %}
                                        {% if user.njcusermeta.is_dca_approved %}
                                    <td class="status inact">inactive</td>
                                    <td class="notes">{{ user.njcusermeta.notes }}</td>
                                    <td><a onclick="view_user_info('{{ user.username }}', 2, 'Return to All NJcoast Users list');" href="#"><span class="fa fa-info-circle"></span></a></td>
                                        {% else %}
                                    <td class="status pnd">pending</td>
                                    <td><a onclick="flip_tabs('tab_3');" href="#" class="btn btn-warning btn-sm btn-block">View Request</a></td>
                                        {% endif %}
                                    {% endif %}
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <!-- END njcoast users ------------------------------------------------>

        <!-- account requests ------------------------------------------------->
        <div id="data_3" class="hidden">
            <div class="filter-bkgrnd">
                <i><span class="fa fa-exclamation-circle"></span> {{ number_to_be_approved }} pending requests</i>
            </div>

            <div class="table-bkgrnd">
                {% for user in users %}
                    {% if user.is_active %}
                    {% else %}
                        {% if user.njcusermeta.is_dca_approved %}
                        {% else %}
                <div class="row review-request">
                    <div class="col-md-5 col-lg-4">
                        <div class="well">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="border-top: 0">Name</th>
                                        <td style="border-top: 0">{{ user.first_name }} {{ user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Title</th>
                                        <td>{{ user.njcusermeta.position }}</td>
                                    </tr>
                                    <tr>
                                        <th>Municipality</th>
                                        <td>{{ user.njcusermeta.municipality }}</td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td id="role_{{ forloop.counter }}" >{{ user.njcusermeta.role }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><b>Justification:</b>{{ user.njcusermeta.justification }}</p>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <p class="qualifier" style="margin-top: 10px;">Received: {{ user.date_joined }}; Muni Approval: {{ user.muni_approval_date }}</p>
                        <textarea id="text_{{ forloop.counter }}" class="form-control" placeholder="" rows="7">{{ user.njcusermeta.notes }}</textarea>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Change Role <span class="caret"></span>
                                        </button>
                            <ul class="dropdown-menu">
                                {% for role in roles %}
                                <li><a onclick="user_update('{{ user.username }}', '{{ forloop.parentloop.counter }}', 'update_role', '{{ role.name }}');" href="#">{{ role.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <button onclick="user_update('{{ user.username }}', '{{ forloop.counter }}', 'approve', '');" class="btn btn-primary" data-toggle="modal" data-target="">Approve</button>
                        <button onclick="user_update('{{ user.username }}', '{{ forloop.counter }}', 'decline', '');" class="btn btn-default" data-toggle="modal" data-target="">Decline*</button>
                        <p class="qualifier" style="margin-top: 10px;">*Any notes entered for a Declined applicant will be shared with the applicant to justify the decision.</p>
                    </div>
                </div>
                <hr/>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <!-- END account requests --------------------------------------------->

        <!-- account info ----------------------------------------------------->
        <div id="data_4" class="hidden">
            <div id="navigation_4" class="return-to-list">
                <a id="navigation_4" onclick="view_user_info('', 2, '');" href="#"><span class="fa fa-chevron-left"></span> Return to All NJcoast Users list</a>
            </div>

            <div class="table-bkgrnd">

                <div class="row">
                    <div class="col-sm-3">
                        <div class="lg-list-identifier ">
                            <span class="fa fa-users fa-5x "></span>
                            <p>NJcoast User Profile</p>
                        </div>
                    </div>
                    <div class="col-sm-9">

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="border-top: 0">Full Name</th>
                                    <td id="info_name" style="border-top: 0">Sarah Jones</td>
                                </tr>
                                <tr>
                                    <th>Position/Title</th>
                                    <td id="info_position">Planner</td>
                                </tr>
                                <tr>
                                    <th>Municipality Name</th>
                                    <td id="info_municipality">Berkeley Twp</td>
                                </tr>
                                <tr>
                                    <th>Municipality Code</th>
                                    <td id="info_code">1506</td>
                                </tr>
                                <tr>
                                    <!--<tr>
                                        <th>Mailing address</th>
                                        <td>627 Pinewald-Keswick Rd<br/>Bayville, NJ 08721</td>
                                    </tr>-->
                                    <th>Email</th>
                                    <td><a id="info_email">sjones@gmail.com</a></td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td id="info_voice">732-341-1132</td>
                                </tr>
                                <tr>
                                    <th>Role</th>
                                    <td id="info_role">PL - Planning</td>
                                </tr>
                                <tr>
                                    <th>Justification</th>
                                    <td id="info_justification">I am involved in planning for Berkeley, and need the tool for storm projection.</td>
                                </tr>
                            </tbody>
                        </table>

                        <a href="admin-user-profile-edit.html" class="btn btn-primary">Edit</a>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                                          Delete
                                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END account info ------------------------------------------------->

    </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/notify.min.js' %}"></script>

<script type=text/javascript>
//user approvals
function user_update(username, user_number, action, role){
    //update role if required
    if(action == 'update_role'){
        document.getElementById("role_"+user_number).innerHTML = role;
    }

    //do Ajax call
    $.ajax({
        type: "POST",
        url: "/user/settings/",
        data: {
            'role': role,
            'notes': document.getElementById("text_"+user_number).value,
            'user': username,
            'action': action
        },
        dataType: "json",
        success: function(result) {
            console.log("USER APPROVAL -- SUCCESS!" + result.updated);

            if(result.updated){
                //flag success
                $.notify("User updated", "success");
            }else{
                //or failure
                $.notify("Error updating user", "error");
            }
        },
        error: function(result) {
            console.log("ERROR:", result)
            $.notify("Error updating user", "error");
        }
    });

}

//view user info
function view_user_info(username, tab_to_return_to, return_text){
    console.log("data "+username);
    if(username != ""){
        //do Ajax call
        $.ajax({
            type: "GET",
            url: "/user/settings/",
            data: {
                'user': username,
                'action': 'get_user'
            },
            dataType: "json",
            success: function(result) {
                console.log("USER APPROVAL -- SUCCESS!" + result.updated);

                if(result.updated){
                    console.log(result.data+","+result.data.name);
                    //put data into html
                    for(user_var in result.data){
                        try {
                            elmt = document.getElementById("info_"+user_var);
                            elmt.innerHTML = result.data[user_var];
                        }
                        catch(err) {
                        }

                        //flip pages
                        document.getElementById("data_4").classList.remove("hidden");
                        document.getElementById("data_"+tab_to_return_to).classList.add("hidden");

                        //set return link
                        document.getElementById("navigation_4").innerHTML = "<a onclick=\"view_user_info('', "+tab_to_return_to+", '');\" href=\"#\"><span class=\"fa fa-chevron-left\"></span> "+return_text;
                        //console.log("variable "+user_var+","+result.data[user_var]);
                    }
                }else{
                    //or failure
                    console.log("Error retrieving user");
                }
            },
            error: function(result) {
                console.log("Error retrieving user!");
            }
        });
    }else{
        //flip pages back
        document.getElementById("data_"+tab_to_return_to).classList.remove("hidden");
        document.getElementById("data_4").classList.add("hidden");
    }
}

//flip the tabs and their data
function flip_tabs(id){
    //hide user info if open
    document.getElementById("data_4").classList.add("hidden");

    //clear Active and set new
    for(i=1; i<=3; i++){
        //remove active
        if("tab_"+i != id){
            document.getElementById("tab_"+i).classList.remove("active");
            document.getElementById("data_"+i).classList.add("hidden");
        }else{ //add active
            document.getElementById(id).classList.add("active");
            document.getElementById("data_"+i).classList.remove("hidden");
        }
    }

    //print
    console.log("Clicked "+id);
}

</script>
{% endblock extra_script %}
