{% extends 'site_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"
            integrity="sha512-ECQqaYZke9cSdqlFG08zSkudgrdF6I1d8ViSa7I3VIszJyVqw4ng1G8sehEXlumdMnFYfzY0tMgdQa4WCs9IUw=="
            crossorigin=""></script>

    <script src="https://npmcdn.com/leaflet.path.drag/src/Path.Drag.js"></script>

    <!-- Load Leaflet Editable code -->
    <script src="{% static "js/Leaflet.Editable.js" %}"></script>-->

    <!-- load mods to leaflet for rectangular popups/map icons -->
    <link rel="stylesheet" type="text/css" href="{% static "css/crc_leaflet.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/fontawesome-all.min.css" %}" media="screen" />

{% endblock extra_head %}


{% block middle %}

    <div class="jumbotron njcoast-image slimmer"></div>

    <div class="container">
        <div class="page-header map-header">
            <a href="/expert/" class="btn btn-primary btn-md pull-right">Run New Simulation</a>
            <h3>Explore Simulations</h3>
        </div>
        <div class="row">
            <!-- #TODO imlement this column, set to hidden -->
            <div class="col-md-3">
                <div class="selections">
                    Your selections
                    <a href="" id="clear-search" class="pull-right" onclick="clear_text_search();">Clear</a>
                </div>
                <nav class="filter">

                    <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-down"></i>Text</a></h4>
                    <ul class="nav open" id="text">
                        <li>
                            <div class="input-group">
                                <input name="text_search_input" id="text_search_input" ng-model="text_query" type="text" placeholder="Search by text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" id="text_search_btn" onclick="call_text_search();"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </li>
                    </ul>
                </nav>

                <!-- made the selection list invisible #TODO implement once we undestand archived storms -->
                <div id="slide-pane">
                    <div class="hidden">
                    <nav class="filter">
                        <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-down"></i>Categories</a></h4>
                        <ul class="nav open" id="categories">

                            <li>
                                <a>Archived Storms
                                    <span class="badge pull-right">56</span>
                                </a>
                            </li>
                            <li>
                                <a class="active">My What-if Scenarios
                                    <span class="badge pull-right">2</span>
                                </a>
                            </li>
                            <li>
                                <a>Shared with Me
                                    <span class="badge pull-right">6</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="h-badge">H</div>Hurricanes
                                    <span id="hurricanes" class="badge pull-right">38</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="n-badge">N</div>Nor'easters
                                    <span id="noreasters" class="badge pull-right">18</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    </div>

                    <nav class="filter">
                        <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-down"></i>Date</a></h4>
                        <ul class="nav open" id="date_start">
                            <label>Date begins after:</label>
                            <li><input id="datepicker1" value="mm-dd-yyyy" data-date-format="MM-DD-YYYY" name="start_date" type="text" class="datepicker" placeholder="mm-dd-yyyy" ng-model="date_query.date__gte" onchange="get_dates(this);"/></li>
                        </ul>
                        <ul class="nav open" id="date_end">
                            <label>Date ends before:</label>
                            <li><input id="datepicker2" value="mm-dd-yyyy" data-date-format="MM-DD-YYYY" name="end_date" type="text" class="datepicker" placeholder="mm-dd-yyyy" ng-model="date_query.date__lte" onchange="get_dates(this);"/></li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="col-md-9">
                <div class="row" style="margin-top:1em">
                    <div class="col-md-3">
                        <span>Total: </span>
                        <span id="total" ng-bind="total_counts">4</span>
                    </div>

                    <div class="col-md-9">
                        <ul class="list-inline pull-left" id="sort">
                            <li><a href="#" name="-modified" data-filter="order_by" class="selected" onclick='reload_simulation_data(this)'>Most recent</a></li>
                            <li><a href="#" name="modified" data-filter="order_by" onclick='reload_simulation_data(this)'>Less recent</a></li>
                            <li><a href="#" name="description" data-filter="order_by" onclick='reload_simulation_data(this)'>A - Z</a></li>
                            <li><a href="#" name="-description" data-filter="order_by" onclick='reload_simulation_data(this)'>Z - A</a></li>
                            <!--<li><a data-value="-popular_count" data-filter="order_by" ng-click="single_choice_listener($event)">Most popular</a></li>-->
                        </ul>
                    </div>
                </div>
                <!-- container for list of simulations -->
                <ul id="dashboard-list" class="dashboard-list">
                </ul>

                <div class="row" style="margin-bottom: 300px">
                    <nav>
                        <ul class="pagination pull-right">
                            <li ng-click="paginate_down()"><a id="pageBackwards" href="#"><strong><i class="fa fa-angle-left"></i></strong></a></li>
                            <li><span>page <span id="page" ng-model="page" ng-bind="page">1</span> of <span id="pagetotal" ng-bind="numpages">1</span></span>
                            </li>
                            <li ng-click="paginate_up()"><a id="pageForward" href="#"><strong><i class="fa fa-angle-right"></i></strong></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

{% endblock middle %}

{% block extra_script %}
<script type=text/javascript>
    function AddUserMaps(sim_id){
        var html = `{% for map in maps_for_user %}
        <a style="padding: 2px;" class="dropdown-item" name="{{ map.id }}" onclick='add_expert_to_map(this, ${sim_id});'>{{ map.name }}</a>
        <div class="dropdown-divider"></div>
        {% endfor %}`;

        $("#add_"+sim_id)[0].innerHTML = html
    }
</script>

<script src="{% static 'js/notify.min.js' %}"></script>
<script src="{% static 'js/template_js/explore.js' %}"></script>
{% endblock extra_script %}
