{% extends 'site_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"
            integrity="sha512-ECQqaYZke9cSdqlFG08zSkudgrdF6I1d8ViSa7I3VIszJyVqw4ng1G8sehEXlumdMnFYfzY0tMgdQa4WCs9IUw=="
            crossorigin=""></script>

    <script src="https://npmcdn.com/leaflet.path.drag/src/Path.Drag.js"></script>

    <!-- Load Leaflet Editable code -->
    <script src="{% static "js/Leaflet.Editable.js" %}"></script>-->

    <!-- load mods to leaflet for rectangular popups/map icons -->
    <link rel="stylesheet" type="text/css" href="{% static "css/crc_leaflet.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/fontawesome-all.min.css" %}" media="screen" />

{% endblock extra_head %}


{% block middle %}

<div class="jumbotron njcoast-image slimmer"></div>

<div class="container-fluid">
    <div class="page-header map-header">
    </div>
    <div class="row">

        <div class="col-sm-8 col-lg-9 col-xl-10 leaflet-map">
            <div id="mapid" class="col-sm-8 col-lg-9 col-xl-10" style="width: 100%; height: 100%;"></div>
        </div>
        <div class="col-sm-4 col-lg-3 col-xl-2" id="map-control-panel">
            <div class="map-control-item">
                <h4 id="map_name" class="map-control-item-heading"></h4>
                <p id="map_description" class="qualifier" style="margin-bottom: 0"></p>
            </div>
            <div class="map-control-item">

                <a data-toggle="collapse" href="#gisLayers" aria-expanded="false" aria-controls="gisLayers">
                    <h4 class="map-control-item-heading">GIS Layers
                        <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></h4>
                    <p class="qualifier" style="margin-bottom: 0">for Planning role</p>
                </a>
                <div class="collapse in" id="gisLayers">
                    <div id="layerGroup" class="hidden">
                        <p class="map-layer-group-heading">
                            <a data-toggle="collapse" href="" aria-expanded="false" aria-controls="">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </p>
                        <ul class="collapse map-layers" id=""></ul>
                    </div>
                </div>
            </div>
            <div class="map-control-item">
                {% include 'storm_visualization_menu.html' %}
            </div>

            <div class="map-control-item">
                <a data-toggle="collapse" href="#annotations" aria-expanded="false" aria-controls="annotations">
                    <h4 class="map-control-item-heading">Annotations<i class="fa fa-chevron-down pull-right"
                                                                               aria-hidden="true"></i></h4>
                    <p class="qualifier" style="margin-bottom: 0">write or draw on the map</p>
                </a>
                <div class="collapse" id="annotations">
                    <!--Checkbox to toggle annotation layer and functions-->
                    <p style="margin-top: 15px"><input type="checkbox" name="annotations" value="on" data-toggle="popover" data-placement="right" onclick="toggle_annotation_layer(this.checked)" checked> Annotation layer</p>
                    <!--<p style="margin-top: 15px"><input type="checkbox" name="annotate" id="annotate" value="on" data-toggle="popover" data-placement="right" onclick="toggle_annotate(this.checked)"> Annotate</p>-->
                    <a id="show_annotate" class="btn btn-primary btn-md btn-block" data-toggle="popover" href="#" aria-expanded="false" aria-controls="annotationTools" onclick="toggle_annotate();">Show Annotation Tools</a>
                    <div class="collapse" id="annotationTools">
                        <div class="placeholder-box">
                            <p>Text and drawing tools go here</p>
                        </div>
                        <button class="btn btn-primary btn-md btn-block" style="margin-top: 20px">Save Changes
                                </button>
                        <button class="btn btn-secondary btn-md btn-block">Clear</button>
                    </div>
                </div>
            </div>

            <div class="map-control-item">
                <p class="qualifier" style="margin-top: 10px">Save current map configuration (e.g. active layers and annotations), copy the map and save with a new name, or download the map.</p>
                <button id="save_map" class="btn btn-secondary btn-md btn-block" data-toggle="popover" data-target="" onclick="save_map();">Save Map</button>
                <button id="load_map" class="btn btn-secondary btn-md btn-block" data-toggle="popover" data-target="" onclick="load_map();">Load Map</button>
                <!--<button id="load_map" class="btn btn-primary btn-md btn-block disabled" data-toggle="popover" data-target="" onclick="load_annotation_elements();">Load Map</button>-->
                <div class="beta-feature-not-available"><button disabled class="btn btn-secondary btn-md btn-block" data-toggle="popover" data-target="">Download Map
                        </button></div>

                {% if map_id %}
                <a data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">
                    <h4 class="map-control-item-heading">Sharing<i class="fa fa-chevron-down pull-right"
                                                                               aria-hidden="true"></i></h4>
                    <p class="qualifier" style="margin-bottom: 0">Share maps with other users</p>
                </a>
                <div class="collapse" id="users">
                    <p style="margin-top: 10px"><button id="share_map" class="btn btn-secondary btn-md btn-block" data-toggle="popover" data-target="" onclick="save_shared_with();">Share Map</button></p>
                    <p class="qualifier" style="margin-top: 10px">Select users in my group to share with</p>
                    <ul class="dashboard-list">
                      {% for user in users_in_group %}
                      <li>
                        <p><input id="share-{{ forloop.counter }}" name="{{ user }}" type="checkbox" value="on" data-toggle="popover" data-placement="right"> {{ user }}</p>
                      </li>
                      {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock middle %}

{% block extra_script %}
<script src="{% static 'js/utilities.js' %}"></script>
<script src="{% static 'js/notify.min.js' %}"></script>

    <script type=text/javascript>
        //fix for callable js
        var annotate_map_id = null;

        {% if map_id %}
            annotate_map_id = {{ map_id }};
        {% else %}
            //disable load/save
            $("#save_map").addClass("disabled");
            $("#load_map").addClass("disabled");
            $("#share_map").addClass("disabled");
        {% endif %}

        var marker_icon_image = "{% static "images/marker-icon-2x-red.png" %}";
        var marker_icon_shadow = "{% static "images/marker-shadow.png" %}";

        //
        var owner = {{ user.id }};

        //for heatmap
        var heatmap = {};

        //disctionary of selected layers
        var layers_selected = new Array();

        /*
        Base Map -- Centered on Keansburg, NJ
        WMS Tile Layers
        Data: Watershed Boundary Dataset - National Hydrography Overlay Map Service
              https://catalog.data.gov/dataset/usgs-national-watershed-boundary-dataset-wbd-
              downloadable-data-collection-national-geospatial-/resource/f55f881d-9de8-471f-9b6b-22cd7a98025d
        XML: https://services.nationalmap.gov/arcgis/services/nhd/MapServer/WMSServer?request=GetCapabilities&service=WMS
         */
        var mymap = L.map('mapid', { zoomControl: false, editable: true}).setView([{{ home_latitude }}, {{ home_longitude }}], {{ zoom_level }});
        var layer_list = [];
        var layer_groups = [];

        // Setup Zoom Controls
        L.Control.zoomHome = L.Control.extend({
            options: {
                position: 'topright',
                zoomInText: '+',
                zoomInTitle: 'Zoom in',
                zoomOutText: '-',
                zoomOutTitle: 'Zoom out',
                zoomHomeText: '<i class="fa fa-home" style="line-height:1.65;"></i>',
                zoomHomeTitle: 'Zoom home'
            },

            onAdd: function (map) {
                var controlName = 'gin-control-zoom', container = L.DomUtil.create('div', controlName + ' leaflet-bar'), options = this.options;

                this._zoomInButton = this._createButton(options.zoomInText, options.zoomInTitle, controlName + '-in', container, this._zoomIn);
                this._zoomHomeButton = this._createButton(options.zoomHomeText, options.zoomHomeTitle, controlName + '-home', container, this._zoomHome);
                this._zoomOutButton = this._createButton(options.zoomOutText, options.zoomOutTitle, controlName + '-out', container, this._zoomOut);

                this._updateDisabled();
                map.on('zoomend zoomlevelschange', this._updateDisabled, this);

                return container;
            },

            onRemove: function (map) {
                map.off('zoomend zoomlevelschange', this._updateDisabled, this);
            },

            _zoomIn: function (e) {
                this._map.zoomIn(e.shiftKey ? 3 : 1);
            },

            _zoomOut: function (e) {
                this._map.zoomOut(e.shiftKey ? 3 : 1);
            },

            _zoomHome: function (e) {
                map.setView([home_latitude, home_longitude], zoom_level);
            },

            _createButton: function (html, title, className, container, fn) {
                var link = L.DomUtil.create('a', className, container);
                link.innerHTML = html;
                link.href = '#';
                link.title = title;

                L.DomEvent.on(link, 'mousedown dblclick', L.DomEvent.stopPropagation)
                    .on(link, 'click', L.DomEvent.stop)
                    .on(link, 'click', fn, this)
                    .on(link, 'click', this._refocusOnMap, this);

                return link;
            },

            _updateDisabled: function () {
                var map = this._map, className = 'leaflet-disabled';

                L.DomUtil.removeClass(this._zoomInButton, className);
                L.DomUtil.removeClass(this._zoomOutButton, className);

                if (map._zoom === map.getMinZoom()) {
                    L.DomUtil.addClass(this._zoomOutButton, className);
                }
                if (map._zoom === map.getMaxZoom()) {
                    L.DomUtil.addClass(this._zoomInButton, className);
                }
            }
        });
        // add the new control to the map
        var zoomHome = new L.Control.zoomHome();
        zoomHome.addTo(mymap);

        // Setup Scale View
        var scale_options = { metric: false, imperial: false, maxWidth: 200 };

        var language = window.navigator.userLanguage || window.navigator.language;
        if( language == "en-US" ){
            scale_options.imperial = true;
        }else{
            scale_options.metric = true;
        }

        L.control.scale(scale_options).addTo(mymap);

        // Setup Feature Info Click Functionality
        L.TileLayer.BetterWMS = L.TileLayer.WMS.extend({
              onAdd: function (map) {
                // Triggered when the layer is added to a map.
                //   Register a click listener, then do all the upstream WMS things
                L.TileLayer.WMS.prototype.onAdd.call(this, map);
                map.on('click', this.getFeatureInfo, this);
            },

            onRemove: function (map) {
                // Triggered when the layer is removed from a map.
                //   Unregister a click listener, then do all the upstream WMS things
                L.TileLayer.WMS.prototype.onRemove.call(this, map);
                map.off('click', this.getFeatureInfo, this);
            },

            getFeatureInfo: function (evt) {
                // Make an AJAX request to the server and hope for the best
                var url = this.getFeatureInfoUrl(evt.latlng), showResults = L.Util.bind(this.showGetFeatureInfo, this);
                $.ajax({
                    url: url,
                    success: function (data, status, xhr) {
                        var err = typeof data === 'string' ? null : data;
                        //Fix for blank popup window
                        var doc = (new DOMParser()).parseFromString(data, "text/html");
                        if (doc.body.innerHTML.trim().length > 0)
                            showResults(err, evt.latlng, data);
                    },
                    error: function (xhr, status, error) {
                        showResults(error);
                    }
                });
            },

            getFeatureInfoUrl: function (latlng) {
                // Construct a GetFeatureInfo request URL given a point
                var point = this._map.latLngToContainerPoint(latlng, this._map.getZoom()),
                size = this._map.getSize(),

                params = {
                    request: 'GetFeatureInfo',
                    service: 'WMS',
                    srs: 'EPSG:4326',
                    styles: this.wmsParams.styles,
                    transparent: this.wmsParams.transparent,
                    version: this.wmsParams.version,
                    format: this.wmsParams.format,
                    bbox: this._map.getBounds().toBBoxString(),
                    height: size.y,
                    width: size.x,
                    layers: this.wmsParams.layers,
                    query_layers: this.wmsParams.layers,
                    info_format: 'text/html'
                };

                params[params.version === '1.3.0' ? 'i' : 'x'] = point.x;
                params[params.version === '1.3.0' ? 'j' : 'y'] = point.y;

                return this._url + L.Util.getParamString(params, this._url, true);
            },

            showGetFeatureInfo: function (err, latlng, content) {
                if (err) { console.log(err); return; } // do nothing if there's an error

                // Otherwise show the content in a popup, or something.
                L.popup({ maxWidth: 800})
                .setLatLng(latlng)
                .setContent(content)
                .openOn(this._map);
            }
        });

        L.tileLayer.betterWms = function (url, options) {
            return new L.TileLayer.BetterWMS(url, options);
        };

        //~~~~run once ready~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        $(document).ready(function () {

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);

            //get layers
            get_layers_from_server();

        });

        /*
        Ajax call to the server. Returns JSON with layers in it.
        TODO: Will need to update url to GeoServer eventually
         */
        function get_layers_from_server() {
            $.ajax({
                type: "GET",
                url: "/api/my_layers/",
                data: {},
                dataType: "json",
                success: function (result) {
                    console.log("GIS LAYERS -- SUCCESS!");
                    console.log(result.layers);
                    process_layers(result.layers);

                    //load map settings after layers loaded #TODO maybe this should be elsewhere?
                    {% if map_id %}
                        load_map();
                    {% endif %}
                },
                error: function (result) {
                    console.log("ERROR:", result)
                }
            });
        }

        /*
        Function to pull the layer groups out and call the appropriate function
        for layer group or layer to be added to the menu.
         */
        function process_layers(layers) {

            layers.forEach(function (item) {
                // Get layer groups
                layer_groups.push(item.group);

            });
            layer_groups = layer_groups.unique();
            console.log(layer_groups);

            layer_groups.forEach(function (group) {
                // Add the layer category group to the menu
               add_layer_group_to_menu(group);

               // For each layer in the layers list, if the group matches the current group
                // add that layer to the unordered list
               layers.forEach(function (layer){
                  if(layer.group == group) {
                      var ul_object = '#' + camelize(layer.group.toLowerCase());
                      add_layer_to_menu(layer, ul_object)
                  }
               });
            });

        }

        /*
        The base #layerGroup template is hidden by default. Cloning the template and
        it's children allows us to edit the attributes of each #layerGroup individually.

        Attributes are formatted in the exact same way as Kristina's mockups to retain functionality.
        Could likely be simplified, but camelizing the lowercase strings wasn't too difficult.
         */
        function add_layer_group_to_menu(layerGroup) {
            var group_template = $('#layerGroup').clone(true);
            $(group_template).find('span').html(layerGroup);
            $(group_template).find('a').attr('href', '#' +
                camelize(layerGroup.toLowerCase())).attr('aria-controls', camelize(layerGroup.toLowerCase()));
            $(group_template).find('ul').attr('id', camelize(layerGroup.toLowerCase()));
            $(group_template).removeClass('hidden');
            $("#gisLayers").append(group_template);
        }

        /*
        Add the individual layers to the menu under the appropriate layer category group.
        Params: layer - the layer to add to the menu (complete layer object)
                ul_id - the id of the unordered list in which to append the layer.
         */
        function add_layer_to_menu(layer, ul_id) {
            // Create the HTML <li> for each layer and append to the <ul>
            var layer_html = '<li><input id="' + $.trim(layer.id) + '" type="checkbox"> ' + $.trim(layer.name) + '</li>';
            $(ul_id).append(layer_html);
            layer.maplayer = L.tileLayer.betterWms(layer.layer_link, {layers: layer.layer, transparent: true, format: 'image/png'});
            layer_list.push(layer);

            $('#' + $.trim(layer.id)).click(function () {
                {#var link = layer.layer_link;#}
                if ($(this).is(':checked')) {
                    for(var i=0; i<layer_list.length; i++) {
                        if (layer_list[i].id == this.id){
                            console.log("found matching layer: " + this.id);
                            layers_selected.push(this.id);
                            layer_list[i].maplayer.addTo(mymap);
                        }
                    }
                } else {
                    for(var i=0; i<layer_list.length; i++) {
                        if (layer_list[i].id == this.id){
                            console.log("found matching layer: " + this.id);
                            var index = layers_selected.indexOf(this.id);
                            if (index !== -1) layers_selected.splice(index, 1);
                            mymap.removeLayer(layer_list[i].maplayer);
                        }
                    }
                }
            });
        }

      $(function () {
        $('.beta-feature-not-available').tooltip(
          {
            title: "Feature not available at this time",
            placement: "top",
            width: '300px'
          });
      });

      //load map
      function load_map(){

          $.ajax({
              type: "GET",
              url: "/map/" + annotate_map_id + "/settings/",
              data: {},
              dataType: "json",
              success: function(result) {
                  console.log("LOADING SETTINGS -- SUCCESS!");

                  //apply settings
                  apply_settings(result);
              },
              error: function(result) {
                  console.log("ERROR:", result)
                  $.notify("Error loading map settings", "error");
              }
          });
      }

      //apply stored settings to current map
      function apply_settings(data){

          //test if I own the map
          if(data.owner == 'other'){
              console.log("not mine");
              //diasble save map and share
              document.getElementById("save_map").classList.add("disabled");
              document.getElementById("share_map").classList.add("disabled");
          }

          //if layers the set them
          if("layers_selected" in data){
              console.log("Layers selected length " + data.layers_selected.length);

              //setup selected layers
              for(i=0; i<data.layers_selected.length; i++){
                  //find by id, click if not checked
                  if(document.getElementById(data.layers_selected[i])){
                      if(!document.getElementById(data.layers_selected[i]).checked){
                        document.getElementById(data.layers_selected[i]).click();//checked = true;
                      }
                  }
              }
          }

          //if map view then apply
          if("latitude" in data && "longitude" in data && "zoom" in data){
              //set map parameters
              mymap.setView([data.latitude, data.longitude], data.zoom);
          }

          //#load simulations
          //<li>
          //<p><input id="simulation-1" name="abcdef" type="checkbox" value="on" data-toggle="popover" data-placement="right"> abcdef</p>
          //</li>
          if("simulations" in data){
              for(i=0; i<data.simulations.length; i++){
                  console.log("sim "+data.simulations[i]);

                  //load simulation
                  load_simulation_data(data.simulations[i]);

              }
          }

          //load map descriptions
          if("name" in data && "description" in data){
              document.getElementById("map_name").innerHTML = data.name;
              document.getElementById("map_description").innerHTML = data.description;
          }

      }

      //load simulation heatmap if clicked
      function load_simulation(user_id, object){

          //if clicked, load
          if(object.checked && !(object.name in heatmap)){
              load_heatmap_from_s3(user_id, object.name)
          }else{
              //#TODO remove
              if(object.name in heatmap){
                  mymap.removeLayer(heatmap[object.name]);
                  delete heatmap[object.name];
              }
          }
      }

      //get heatmap from S3
      function load_heatmap_from_s3(owner, simulation){
          $.ajax({
              type: "GET",
              url: "https://s3.amazonaws.com/simulation.njcoast.us/simulation/" + owner + "/" + simulation + "/heatmap.json",
              //data: data,
              dataType: "json",
              //contentType: 'application/json',
              success: function (data) {
                  console.log("EXPERT SIMULATION LOAD -- SUCCESS.");

                  //save data
                  addressPoints = data;

                  //add to map
                  heatmap[simulation] = L.heatLayer(addressPoints.runup, {max: 4, radius: 25, gradient: {0.4: 'blue', 0.65: 'lime', 1: 'red'}, blur: 10}).addTo(mymap);
                  $.notify( "Heatmap loaded", "success");
              },
              error: function (data) {
                  console.log("EXPERT SIMULATION LOAD -- ERROR:", data)
                  $.notify("Failed to load heatmap.", "error");
              }
          });
      }

      //save current map
      function save_map(){
          //save map state
          map_data = {
              'latitude': mymap.getCenter().lat,
              'longitude': mymap.getCenter().lng,
              'zoom': mymap.getZoom(),
              'layers_selected': layers_selected,
              'simulations': []
          };

          {% if map_id %}
              map_data['map_id'] = {{ map_id }};
          {% endif %}

          console.log("Layers "+JSON.stringify(map_data));

          $.ajax({
              type: "POST",
              url: "/map/" + annotate_map_id + "/settings/",
              data: JSON.stringify(map_data),
              dataType: "json",
              success: function(result) {
                  console.log("SETTING STORE -- SUCCESS!" + result.saved);
                  //now auto save so dont flag
                  $.notify("Settings saved", "success");
              },
              error: function(result) {
                  console.log("ERROR:", result)
                  $.notify("Error saving map settings", "error");
              }
          });

      }

      //save map sharing users
      function save_shared_with(){
          //get list of users
          var more_elmts;
          var counter = 1;

          data = new Array();

          //loop until end of list
          do{
              more_elmts = document.getElementById('share-'+counter++);

              //if exists and checked then save
              if(more_elmts){
                  if(more_elmts.checked){
                      data.push(more_elmts.name);
                  }
              }
          }while(more_elmts)

          console.log("Data "+JSON.stringify(data));

          //send to backend
          $.ajax({
              type: "POST",
              url: "/map/" + annotate_map_id + "/settings/",
              data: JSON.stringify(data),
              dataType: "json",
              success: function(result) {
                  console.log("SETTING SHARES -- SUCCESS!" + result.saved);
                  //now auto save so dont flag
                  $.notify("Shares saved", "success");
              },
              error: function(result) {
                  console.log("ERROR:", result)
                  $.notify("Error saving shares", "error");
              }
          });

      }

      //load simulation data into storm-vis page
      function load_simulation_data(sim_id){

          $.ajax({
              type: "GET",
              url: "/store/",
              data: {
                  data: sim_id
              },
              dataType: "json",
              success: function(result) {

                  console.log("GETTING SIMULATION -- SUCCESS! ");

                  //get heatmap from S3
                  if(result.status){
                      //get JSON data
                      var data = JSON.parse(result.data.data);

                      //storm heading
                      var sim_heading = data.storm_type + " Run #" + result.data.id;

                      var badge = 'n-badge';
                      if(data.storm_type.toLowerCase() == "hurricane"){
                          badge = 'h-badge';
                      }

                      //files available to enable checkboxes
                      var surge = "disabled";
                      if(data.surge_file){
                          surge = "";
                      }
                      var wind = "disabled";
                      if(data.wind_file){
                          wind = "";
                      }
                      var runup = "disabled";
                      if(data.runup_file){
                          runup = "";
                      }

                      //generate html
                      var html =  `<div id='${sim_id}'>
                              <div class="map-layer-group-heading what-if">
                                <a data-toggle="collapse" href="#storm-${sim_id}" aria-expanded="false" aria-controls="storm-${sim_id}">
                                  <i class="fa fa-chevron-right" aria-hidden="true"></i> <div class="${badge}">${sim_heading.charAt(0)}</div>${sim_heading}<span><i class="fa fa-close" aria-hidden="true" onclick="remove_simulation('${sim_id}');"></i></span>
                                </a>
                              </div>
                              <p class="follow-unfollow">by ${result.data.user_name} • ${result.data.modified}</p>
                              <ul class="collapse map-layers" id="storm-${sim_id}">
                                  <li><input name="${sim_id}" type="checkbox" name="gender" value="female" onchange="load_simulation(${result.user_id}, this);" ${wind}> Wind Field</li>
                                  <li><input name="${sim_id}" type="checkbox" name="gender" value="female" onchange="load_simulation(${result.user_id}, this);" ${surge}> Surge</li>
                                  <li><input name="${sim_id}" type="checkbox" name="gender" value="female" onchange="load_simulation(${result.user_id}, this);" ${runup}> Total Run Up</li>
                                  <li class="shp-scenario"><span>Sea Level Rise:</span> ${data.SLR} m<br/><span>Coastal Protection:</span> ${data.protection}<br/><span>Tides:</span> ${data.tide_td}<br/><span>Analysis type:</span> ${data.analysis}<br/><span>Description:</span> ${result.data.description}</li>
                              </ul>
                          </div>`;

                      //add to page
                      document.getElementById('simulation_container').innerHTML += html;
                  }
              },
              error: function(result) {
                  console.log("ERROR:", result)
                  $.notify("Error loading simulation", "error");
              }
          });


      }

      //remove simulation from storm vis
      function remove_simulation(name){
          //get element containing sim data
          var element = document.getElementById(name);

          //remove it
          element.outerHTML = "";
          delete element;
      }

    </script>

    <script src="{% static 'js/template_js/annotate_maps.js' %}"></script>

{% endblock extra_script %}
