{% extends 'site_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"
            integrity="sha512-ECQqaYZke9cSdqlFG08zSkudgrdF6I1d8ViSa7I3VIszJyVqw4ng1G8sehEXlumdMnFYfzY0tMgdQa4WCs9IUw=="
            crossorigin=""></script>

    <script src="https://npmcdn.com/leaflet.path.drag/src/Path.Drag.js"></script>

    <!-- Load Leaflet Editable code -->
    <script src="{% static "js/Leaflet.Editable.js" %}"></script>-->

    <!-- Load Leaflet Heatmap -->
    <script src="{% static "js/heatmap.min.js" %}"></script>
    <script src="{% static "js/leaflet-heatmap.js" %}"></script>
    <script src="{% static 'js/template_js/heatmaps.js' %}"></script>

    <!-- load mods to leaflet for rectangular popups/map icons -->
    <link rel="stylesheet" type="text/css" href="{% static "css/crc_leaflet.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/fontawesome-all.min.css" %}" media="screen" />
    <style> .leaflet-zoom-hide { position: absolute!important; } </style>

{% endblock extra_head %}


{% block middle %}

<div class="jumbotron njcoast-image slimmer"></div>

<div class="container-fluid">
    <div class="page-header map-header">
    </div>
    <div class="row">

        <div class="col-sm-8 col-lg-9 col-xl-10 leaflet-map">
            <div id="mapid" class="col-sm-8 col-lg-9 col-xl-10" style="width: 100%; height: 100%;"></div>
        </div>
        <div class="col-sm-4 col-lg-3 col-xl-2" id="map-control-panel">
            <div class="map-control-item">
                <h4 id="map_name" class="map-control-item-heading"></h4>
                <p id="map_description" class="qualifier" style="margin-bottom: 0"></p>
            </div>
            <div class="map-control-item">

                <a data-toggle="collapse" href="#gisLayers" aria-expanded="false" aria-controls="gisLayers">
                    <h4 class="map-control-item-heading">GIS Layers
                        <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></h4>
                    <p class="qualifier" style="margin-bottom: 0">for Planning role</p>
                </a>
                <div class="collapse in" id="gisLayers">
                    <div id="layerGroup" class="hidden">
                        <p class="map-layer-group-heading">
                            <a data-toggle="collapse" href="" aria-expanded="false" aria-controls="">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </p>
                        <ul class="collapse map-layers" id=""></ul>
                    </div>
                </div>
            </div>
            <div class="map-control-item">
                {% include 'storm_visualization_menu.html' %}
            </div>

            <div class="map-control-item">
                <a data-toggle="collapse" href="#annotations" aria-expanded="false" aria-controls="annotations">
                    <h4 class="map-control-item-heading">Annotations<i class="fa fa-chevron-down pull-right"
                                                                               aria-hidden="true"></i></h4>
                    <p class="qualifier" style="margin-bottom: 0">write or draw on the map</p>
                </a>
                <div class="collapse" id="annotations">
                    <!--Checkbox to toggle annotation layer and functions-->
                    <p style="margin-top: 15px"><input type="checkbox" name="annotations" value="on" data-toggle="popover" data-placement="right" onclick="toggle_annotation_layer(this.checked)" checked> Annotation layer</p>
                    <!--<p style="margin-top: 15px"><input type="checkbox" name="annotate" id="annotate" value="on" data-toggle="popover" data-placement="right" onclick="toggle_annotate(this.checked)"> Annotate</p>-->
                    <a id="show_annotate" class="btn btn-primary btn-md btn-block" data-toggle="popover" href="#" aria-expanded="false" aria-controls="annotationTools" onclick="toggle_annotate();">Show Annotation Tools</a>
                    <div class="collapse" id="annotationTools">
                        <div class="placeholder-box">
                            <p>Text and drawing tools go here</p>
                        </div>
                        <button class="btn btn-primary btn-md btn-block" style="margin-top: 20px">Save Changes
                                </button>
                        <button class="btn btn-secondary btn-md btn-block">Clear</button>
                    </div>
                </div>
            </div>

            <div class="map-control-item">
                <p class="qualifier" style="margin-top: 10px">Save current map configuration (e.g. active layers and annotations), copy the map and save with a new name, or download the map.</p>
                <button id="save_map" class="btn btn-secondary btn-md btn-block" data-toggle="popover" data-target="" onclick="save_map();">Save Map</button>
                <button id="load_map" class="btn btn-secondary btn-md btn-block disabled" disabled data-toggle="popover" data-target="" onclick="load_map();">Load Map</button>
                <!--<button id="load_map" class="btn btn-primary btn-md btn-block disabled" data-toggle="popover" data-target="" onclick="load_annotation_elements();">Load Map</button>-->
                <div class="beta-feature-not-available"><button disabled class="btn btn-secondary btn-md btn-block" data-toggle="popover" data-target="">Download Map
                        </button></div>

                {% if map_id %}
                <a data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">
                    <h4 class="map-control-item-heading">Sharing<i class="fa fa-chevron-down pull-right"
                                                                               aria-hidden="true"></i></h4>
                    <p class="qualifier" style="margin-bottom: 0">Share maps with other users</p>
                </a>
                <div class="collapse" id="users">
                    <p style="margin-top: 10px"><button id="share_map" class="btn btn-secondary btn-md btn-block" data-toggle="popover" data-target="" onclick="save_shared_with();">Share Map</button></p>
                    <p class="qualifier" style="margin-top: 10px">Select users in my group to share with</p>
                    <ul class="dashboard-list">
                      {% for user in users_in_group %}
                      <li>
                        <p><input id="share-{{ forloop.counter }}" name="{{ user }}" type="checkbox" value="on" data-toggle="popover" data-placement="right"> {{ user }}</p>
                      </li>
                      {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock middle %}

{% block extra_script %}
<script src="{% static 'js/template_js/utilities.js' %}"></script>
<script src="{% static 'js/notify.min.js' %}"></script>

<script type=text/javascript>
    var marker_icon_image = "{% static "images/marker-icon-2x-red.png" %}";
    var marker_icon_shadow = "{% static "images/marker-shadow.png" %}";
    var owner = {{ user.id }};
    var home_latitude = {{ home_latitude }};
    var home_longitude = {{ home_longitude }};
    var home_zoom = {{ zoom_level }};

    var annotate_map_id = null;
    {% if map_id %}
        annotate_map_id = {{ map_id }};
    {% endif %}
    var annotationLayer = new L.LayerGroup();
</script>

<script src="{% static 'js/template_js/map.js' %}"></script>
<script src="{% static 'js/template_js/annotate_maps.js' %}"></script>

<script type=text/javascript>
$(document).ready(function() {
    $('.beta-feature-not-available').tooltip({
        title: "Feature not available at this time",
        placement: "top",
        width: '300px'
    });

    //add annotation layer
    annotationLayer.addTo(mymap);

    //load current annotations
    if(annotate_map_id){
        get_annotations_from_server();
    }

    // Note that the path doesn't matter right now; any WebSocket
    // connection gets bumped over to WebSocket consumers
    if(annotate_map_id) {
        var websocket_protocol = window.location.protocol.indexOf("https") >= 0 ? "wss://" : "ws://";
        socket = new WebSocket(websocket_protocol + window.location.host + "/map-socket/" + annotate_map_id + "/");
        socket.onmessage = function(e) {
            //onMapClick(e.data);
            // alert('received socket');
            console.log(e.data)
            var socket_object = JSON.parse(e.data)
            console.log(socket_object)

            //update if we are not the annotator #TODO how to enforce? Or many to many?
            //now just ignore comms from myself
            if (socket_object.myid != myid) {
                //find if adding or modifying objects
                var object = null;
                annotationLayer.eachLayer(function(layer) {
                    // layer.feature is probably defined, to create marker, do something like this
                    if (layer.myCustomID == socket_object.data.id) {
                        console.log("Found " + layer.myCustomID);
                        object = layer;
                    }
                });
                if (object == null) {
                    //set coloring according to owner
                    var color_param = {};
                    var icon_param = {};
                    if (socket_object.owner != owner) {
                        color_param = {
                            color: '#C92D40'
                        };
                        icon_param = {
                            icon: redIcon
                        };
                    }
                    //need to create object here
                    var newobject = null;
                    console.log("Objects " + socket_object.type);
                    //create
                    if (socket_object.type == 'marker') {
                        newobject = L.marker([socket_object.data.latitude, socket_object.data.longitude], icon_param);
                    } else if (socket_object.type == 'polygon' || socket_object.type == 'polyline') {
                        console.log("Points " + socket_object.data.points);
                        var points = JSON.parse(socket_object.data.points);
                        //console.log("Points " + points.length + "," + points[0][0]);
                        if (socket_object.type == 'polyline') {
                            newobject = L.polyline(points, color_param);
                        } else {
                            newobject = L.polygon(points, color_param);
                        }
                    } else if (socket_object.type == 'circle') {
                        newobject = L.circle([socket_object.data.latitude, socket_object.data.longitude], socket_object.data.radius, {
                            color: '#C92D40'
                        });
                    }

                    //set id and add to layer
                    if (newobject != null) {
                        newobject.myCustomID = socket_object.data.id;
                        newobject.owned = false;

                        //add to layer
                        annotationLayer.addLayer(newobject);

                        var popup_text = socket_object.data.text;

                        //do I own it? if so editable
                        if (socket_object.owner == owner) {
                            //setup popup for editing
                            if (popup_text == null) {
                                popup_text = "Input text ...";
                            }

                            popup_text = load_popup_html(popup_text, popup_text.length);

                            newobject.enableEdit(); //editing
                            newobject.owned = true;
                        }

                        if (popup_text == null) {
                            popup_text = "Undefined";
                        }

                        //setup popup
                        newobject.bindPopup(popup_text);
                        newobject.on('click', function(e) {
                            this.openPopup();
                        });
                    }
                } else {
                    //modify or delete
                    if (socket_object.type == 'delete') {
                        annotationLayer.removeLayer(object);
                    } else if (socket_object.type == 'marker') {
                        object.setLatLng([socket_object.data.latitude, socket_object.data.longitude]);
                    } else if (socket_object.type == 'polygon' || socket_object.type == 'polyline') {
                        var points = JSON.parse(socket_object.data.points);
                        object.setLatLngs(points);
                    } else if (socket_object.type == 'circle') {
                        object.setLatLng([socket_object.data.latitude, socket_object.data.longitude]);
                        object.setRadius(socket_object.data.radius);
                    } else if (socket_object.type == 'popup') {
                        //add editing if I own it!
                        if (socket_object.owner != owner) {
                            object.setPopupContent(socket_object.data.text);
                        } else {
                            object.setPopupContent(load_popup_html(socket_object.data.text, socket_object.data.text.length));
                        }
                    }
                }

            }
        }
        socket.onopen = function() {
            //socket.send("joining map annotation for map " + annotate_map_id);
        }
        // Call onopen directly if socket is already open
        if (socket.readyState == WebSocket.OPEN) socket.onopen();
    }
});
</script>
{% endblock extra_script %}
