{% extends 'site_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block body %}
<h2>Sign up</h2>
<p style="color: red">{{ error_data }}</p>
<form method="post">
 {% csrf_token %}
 {% for field in form %}
   <p>
     {{ field.label_tag }}<br>
     {{ field }}
     {% if field.help_text %}
       <small style="color: grey">{{ field.help_text }}</small>
     {% endif %}
     {% for error in field.errors %}
       <p style="color: red">{{ error }}</p>
     {% endfor %}
   </p>
 {% endfor %}
 <button type="submit">Sign up</button>
</form>
{% endblock %}

{% block extra_script %}
<script>
    $("#id_county").prop( "disabled", true );
    $("#id_municipality").prop( "disabled", true );
    $("#id_municipality").help_text= "hi";

    $("#id_region_level").change(function () {
        var text = $("#id_region_level option:selected").text();
        console.log( "Hi "+text );

        if(text == 'County'){
            $("#id_municipality").prop( "disabled", true );
            $("#id_municipality").val("");
            $("#id_county").prop( "disabled", false );
        }else if(text == 'Municipal') {
            $("#id_municipality").prop( "disabled", false );
            $("#id_county").prop( "disabled", true );
            $("#id_county").val("");
        }else if(text == 'Statewide') {
            $("#id_municipality").prop( "disabled", true );
            $("#id_municipality").val("");
            $("#id_county").prop( "disabled", true );
            $("#id_county").val("");
        }

    });
</script>
{% endblock extra_script %}
