{% extends 'site_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/fontawesome-all.min.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/njcoast-admin-style.css" %}" media="screen" />
{% endblock extra_head %}

{% block middle %}
<div class="jumbotron njcoast-image slim">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>

<div class="container">
    <div class="row spaced">
        <div class="col-md-9 faq">
            <h3>Tutorials</h3>

            <table class="table">
                <tbody id="tutorial_list">
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script type=text/javascript>
var user_name = "{{ user.username }}";

//~~~~run once ready~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$(document).ready(function () {
    //get actual documents
    $.ajax({
        type: "GET",
        url: "/api/documents/",
        data: {
                'title__contains': 'njcoast_tutorials',
                'order_by': 'title'
        },
        dataType: "json",
        success: function (result) {
            console.log("GETTING DOCUMENTS -- SUCCESS! " + result.meta.total_count);

            //clear current list
            var doc_table = document.getElementById('tutorial_list');

            //setup table
            doc_table.innerHTML = ``;

            //get total number
            var count = result.meta.total_count;

            //loop over objects
            for(var i=0; i<count; i++){
                //get object
                var object = result.objects[i];

                //console.log("Title "+object.title);

                //split up suplimental info
                var split_supl = object.supplemental_information.split(',');

                var video_link = "";
                if(split_supl.length > 0) video_link = split_supl[0];

                var cell_color = "";
                if(split_supl.length > 1) cell_color = split_supl[1];

                var pos = object.title.indexOf("njcoast_tutorials");
                pos += "njcoast_tutorials:".length;

                //populate table
                doc_table.innerHTML += `<tr>
                    <td bgcolor="${cell_color}">${ object.title.substring(pos) }</a></td>
                    <td>${ object.abstract }</td>
                    <td><a href='/documents/${object.id}/download/'>Quick Reference Guide</a></td>
                    <td><a href='${ video_link }'>YouTube Video</a></td>
                </tr>`;
            }

            doc_table.innerHTML += `<tr><td colspan="4"></td></tr>`;

        },
        error: function (result) {
            console.log("GETTING DOCUMENTS -- ERROR:", result)
        }
    });

});

</script>
{% endblock extra_script %}
