{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About" %} — {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
<div class="jumbotron njcoast-image slim">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

    <div class="gray-zone-symmetric" style="margin-bottom: 50px">
    <div class="container">
      <div class="row emphasis">
        <div class="col-sm-2">
          <img class="img-responsive remove-on-mobile" src="{{ STATIC_URL }}images/njcoast-logo_no-text.png" />
        </div>
        <div class="col-sm-10">
          <h1 style="margin-top:0">About NJcoast</h1>
          <p><b>NJcoast</b> is a user-friendly, secure web-environment that provides efficient access to geospatial data and custom tools, all without the need to learn or maintain sophisticated Geographic Information Systems (GIS) software. Users can easily access NJcoast from anywhere — their desktop, their smartphone or their tablet — without having to download and install new software. From a standard web browser like Internet Explorer, Chrome or Safari, users can explore geospatial datasets and even evaluate storm scenarios using NJcoast’s <a href="#shp-tool">Storm Hazard Projection Tool</a>.</p></div>
      </div>
    </div>
    </div>

      <div class="container" >
        <div class="col-sm-3">
          <img class="img-responsive reduce-on-mobile" src="{{ STATIC_URL }}images/graphic_gis-for-all.png" />
        </div>
        <div class="col-sm-9">
          <h3>Geospatial data for all</h3>
          <p>NJcoast enables users with little to no formal training in GIS to query, visualize, annotate and share geospatial data across teams and agencies. This is made possible by using a powerful web environment called GeoNode, also used by the World Bank, United Nations, and US State Department to respond to natural disasters and humanitarian crises. In NJcoast, authorized municipal users can:</p>
          <ul>
           <li>Upload geospatial data through a simplified interface, using a web form to supply metadata </li>
           <li>Browse a centralized catalog of geospatial data from state and municipal sources, with powerful keyword search capabilitiesi</li>
           <li>Create custom maps, including overlays onto popular base layers like Open Street Map, Google Satellite or Bing layers</li>
           <li>Annotate maps with notes and mark-ups (lines, boxes, arrows, etc.)</li>
           <li>Share custom maps with fellow NJcoast users or download, print and share with others outside the platform</li>
           <li>Export GIS layers created in NJcoast to other software, such as ArcGIS</li>
          </ul>
        </div>

      <div class="row spaced" >
        <div class="col-sm-3">
          <img class="img-responsive reduce-on-mobile" src="{{ STATIC_URL }}images/graphic_customized-by-role.png" />
        </div>
        <div class="col-sm-9">
          <h3>Customized display</h3>
        <p>Leveraging GeoNode's capabilities, NJcoast customizes a user's view based on his or her role. Informed by pilot studies in the Borough of Keansburg and Berkeley Township, three primary roles have been established: (i) Planning & Service Delivery, (ii) Emergency Management or (iii) First Responder. Each user’s NJcoast Map View will pre-populate with the latest versions of GIS data most relevant to his or her assigned role and municipality. Within the map view, users can run storm scenarios and choose which GIS layers to visualize, annotate, and share with others.</p>
        </div>
      </div>

<a id="shp-tool"></a>

      <div class="row spaced" >
        <div class="col-sm-3">
          <img class="img-responsive reduce-on-mobile" src="{{ STATIC_URL }}images/graphic_cloud-based.png" />
        </div>
        <div class="col-sm-9">
          <h3>Cloud-based</h3>
        <p>NJcoast is hosted on a cloud server, which ensures availability, particularly during a landfalling storm. These cloud servers host all of the software necessary to run NJcoast and link to the original sources of each geospatial data layer (housed at the state, county or municipal level) to ensure that users have access to the most up to date version even when local computer networks may be down. In this way, NJcoast enables users to access up-to-date, diverse geospatial data from multiple sources using a single interface.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
          <h3>Get Started</h3>
          <p>Currently, NJcoast is only available to registered users with official roles at the state, county or municipal level.  Users must <a href="">request a user account</a> and be approved by NJcoast administrators. Once approved, registered users can access the system using their username and password through any standard web browser on a computer, smartphone or tablet.</p>
          <p style="margin-top: 30px"><a class="btn btn-primary btn-lg" href="" role="button">Request a user account &raquo;</a></p>
        </div>
      </div>

    </div><!-- close container -->

    <div class="gray-zone-symmetric" style="margin-top: 50px">
     <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h3>Storm Hazard Projection Tool</h3>
           <p class="larger"> Over time, NJcoast will build out a variety of custom tools to enable users to generate geospatial data or execute their own geospatial data analyses. The first release features the Storm Hazard Projection (SHP) Tool. This tool enables users to simulate the impact of hurricanes and nor’easters, using the same models that produce Flood Insurance Rate Maps. NJcoast also includes a live mode that tracks active storms off of New Jersey’s coast so users get the latest projections of wind, waves and storm surge minutes after track updates are released by the National Hurricane Center.</p>
          <p><a href="/about/">Learn more</a></p>
        </div>
        <div class="col-sm-3">
          <img class="img-responsive reduce-on-mobile" src="{{ STATIC_URL }}images/graphic_custom-tools.png" />
        </div> 
       </div>
     </div>
     </div>

    <div class="dk-gray-zone-symmetric">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <p>NJcoast is a product of the <a href="https://www.nd.edu" target="_blank">University of Notre Dame</a> and the <a href="http://www.buffalo.edu/" target="_blank">University at Buffalo</a>. It arose from <a href="https://cybereye.crc.nd.edu" target="_blank">CyberEye</a>, a collection of collaborative online tools for hurricane research and emergency response.</p>
        </div>
        <div class="col-sm-2 col-xs-6" style="padding-top: 10px">
          <a href="https://www.nd.edu" target="_blank"><img src="images/nd-logo.png" class="img-responsive" /></a>
        </div>
        <div class="col-sm-2 col-xs-6" style="padding-top: 10px">
          <a href="http://www.buffalo.edu/" target="_blank"><img src="images/ub-logo.png" class="img-responsive" /></a>
        </div>
      </div>
    </div>
    </div>

{% endblock %}
